@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

* {
  font-family: "Open Sans", sans-serif !important;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background: #101013 !important;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.swiper {
  width: fit-content;
  max-width: 100%;
}

.swiper-slide {
  width: fit-content !important;
  margin-right: 24px;
  height: 380px;
  display: flex;
}

.swiper-slide:last-child {
  margin-right: 0;
}