$primary-color: #7f00b2;
$secondary-color: #eb2f93;
$linear-color: linear-gradient(108.72deg, #7f00b2 0%, #340856 100%);
$background-color: #101013;

.main {
    width: 100%;
    height: 100%;
    min-height: 100vh;
}

.section_banner {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    &::after {
        content: "";
        position: absolute;

        width: 600px;
        height: 600px;
        border-radius: 50%;

        background: $primary-color;
        filter: blur(490px);

        z-index: 0;
        bottom: -50%;
        right: 10%;
    }
    &::before {
        content: "";
        position: absolute;

        width: 600px;
        height: 600px;
        border-radius: 50%;

        background: $secondary-color;
        filter: blur(490px);

        z-index: 0;
        bottom: -50%;
        right: -50%;
    }
}
.section_banner_content {
    position: absolute;
    top: 0;
    z-index: 10;
    width: 100%;
    max-width: 1200px;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
    & .content_text {
        max-width: 690px;
        height: fit-content;

        h1 {
            line-height: 130%;
            font-size: 66px;
        }
        p {
            font-size: 20px;
        }
        a {
            width: fit-content;
            height: 48px;
            padding: 0 2rem;
            border: 1px solid #fff;
            margin-top: 1.5rem;

            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;

            font-size: 16px;
            font-weight: 600;
            color: #fff;
            transition: 0.3s;

            &:hover {
                border-color: $primary-color !important;
            }
        }
    }
}
.header {
    width: 100%;
    border-top: 6px solid $linear-color;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background: rgba($color: #000000, $alpha: 0.1);
    backdrop-filter: blur(24px);
}
.header_content {
    padding: 16px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_links {
    display: flex;
    align-items: center;
    gap: 2rem;

    li {
        list-style: none;
        a {
            font-size: 16px;
            font-weight: 600;
            color: #fff;
        }
        &:last-child {
            a {
                height: 48px;
                padding: 0 2rem;
                display: flex;
                align-items: center;
                justify-content: center;
                background: $linear-color;

                font-size: 16px;
                font-weight: 600;
                color: #fff;
            }
        }
    }
}
.border_top {
    width: 100%;
    height: 6px;
    background: $linear-color;
}
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.section_title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 32px;
    & span {
        color: $primary-color;
    }
}
.section_text {
    max-width: 620px;
    text-align: center;
    line-height: 160%;
    font-size: 1.125rem;
    font-weight: 400;
    & span {
        font-weight: 700;
        color: $primary-color;
    }
}
.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    padding: 140px;
    img {
        height: 140px;
        margin: 2rem 0;
    }

    &::after {
        content: "";
        position: absolute;

        width: 600px;
        height: 600px;
        border-radius: 50%;
        z-index: 0;
        top: -50%;
        right: -10%;
    }

    &:first-child {
        background: red;
        &::after {
            background: #2F0871;
            filter: blur(490px);
        }
    }
}
.section_content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
}
.section_about {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 104px;
    margin-bottom: 164px;
}
.form {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}
.input {
    width: 100%;
    height: 48px;
    padding: 12px;
    max-width: 500px;

    background: transparent;
    border: 0.5px solid #fff;
    &:focus {
        border-radius: 0 !important;
        border-color: $primary-color;
        outline: 0 !important;
        box-shadow: none !important;
    }
}
.textarea {
    width: 100%;
    height: 148px;
    padding: 12px;
    max-width: 500px;

    background: transparent;
    border: 0.5px solid #fff;

    &:focus {
        border-radius: 0 !important;
        border-color: $primary-color;
        outline: 0 !important;
        box-shadow: none !important;
    }
}
.button_primary {
    height: 48px;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $linear-color;

    font-size: 16px;
    font-weight: 600;
    color: #fff;
    border: 0;
    cursor: pointer;
}
.footer {
    width: 100%;
    height: 72px;
    background: #0D0D0D;
    display: flex;
    align-items: center;
    justify-content: center;
}